@import "tailwindcss";

@tailwind/preflight;
@tailwind utilities;

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-nunito{
  font-family: 'Nunito sans';
}

.shadow-neumorphism {
  box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
}
.scrollbar-hidden::-webkit-scrollbar {
      display: none;
} 